<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="scala.application">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ParaBond/src/parabond/test/Par00.scala"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="parabond.test.Par00"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ParaBond"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dn=16384"/>
</launchConfiguration>
